.formGroup {
  display: block;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  margin-bottom: 15px;
  width: 100px;
}
.input {
  display: block;
  width: 300px;
  border: 2px solid #0a65ee;
  border-radius: 3px;
  padding: 6px 10px;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1;
  margin-top: 5px;
}
.label {
  display: block;
  margin-bottom: 15px;
}
